@aria:registry=https://msasg.pkgs.visualstudio.com/_packaging/ARIA-SDK/npm/registry/ 
                        
always-auth=true

@ms:registry=https://msasg.pkgs.visualstudio.com/_packaging/1DS-SDK/npm/registry/ 
                        
always-auth=true

; begin auth token
//msasg.pkgs.visualstudio.com/_packaging/ARIA-SDK/npm/registry/:username=msasg
//msasg.pkgs.visualstudio.com/_packaging/ARIA-SDK/npm/registry/:_password=aTZvYnA1bmxpNXpwc3pvdW1wc2Rta3l3Z2Q0NnNlZWllM2JyZnVrcHg3ajQyeWtlaTNnYQ==
//msasg.pkgs.visualstudio.com/_packaging/ARIA-SDK/npm/registry/:email=npm requires email to be set but doesn't use the value
//msasg.pkgs.visualstudio.com/_packaging/ARIA-SDK/npm/:username=msasg
//msasg.pkgs.visualstudio.com/_packaging/ARIA-SDK/npm/:_password=aTZvYnA1bmxpNXpwc3pvdW1wc2Rta3l3Z2Q0NnNlZWllM2JyZnVrcHg3ajQyeWtlaTNnYQ==
//msasg.pkgs.visualstudio.com/_packaging/ARIA-SDK/npm/:email=npm requires email to be set but doesn't use the value
; end auth token